{% extends '@TDTSite/layout.html.twig' %}

{% block content %}

    <div class="row">

        <div class="span8">

            <h1>Персональный блог</h1>
            <h2>Тренировочный проект на Symfony2</h2>

            <div class="container-fluid blog-article-box">
                <p>Вот так вот ;) Тут будет мега блог ;)</p>
            </div>

        </div>

        <div class="span4">
            <div>
                <h2>Ближайшие задачи в разработке:</h2>

                <ul>
                    <li>Разработка &laquo;Бандла&raquo; для распределённого хранения файлов.</li>
                    <li>Форма обратной связи.</li>
                    <li>Возможность управлять тэгами и категориями блога админу сайта.</li>
                    <li>Фабрики для форм блога.</li>
                </ul>

                <h2>Категории блога:</h2>

                {{ knp_menu_render('SmartBlogBundle:Category:tree', {'currentClass': 'active'}) }}

                <h2>Тэги блога:</h2>

                {{ render(controller('SmartBlogBundle:Tag:cloud')) }}

            </div>
        </div>

    </div>

{% endblock content %}
