{% extends '@TDTSite/layout_sidebar.html.twig' %}

{% block content %}
    {{ parent() }}
            <h1>TimeDev.net</h1>
            <h2>Инициативная группа веб-разработчиков</h2>

            <div class="container-fluid blog-article-box">
                <p><h2>Кто мы?</h2>
                <p> Мы — обычные люди, интересующиеся веб-разработкой и стремящиеся приобрести опыт в командной работе над сложными и интересными проектами.

                    Уровень подготовки у нас разный, от практически нулевого уровня до средненького разработчика (пока нету ребят уровня Senior-Developer, но надеемся когда-нить появится, а в идеале даже воспитается в нашей группе ;).
                </p>
                <h2>Наша миссия</h2>
                <p>Подняться в профессиональном плане, приобрести навыки в самых современных технологиях веб-разработки.
                </p>
                <h2>Наши методы</h2>
                <p> Мы сами сообща придумываем себе задачи и способы их выполнения.
                </p>
                <p> Мы создаём некоммерческие проекты, на собственной инициативе, получая взамен высококлассные наработки и опыт.
                </p>
                <p> Мы не ограничиваем себя в выборе технологий и берем их каждой области только лучшее.
                </p>
                <p> Мы много изучаем и просвещаемся, а потом обсуждаем лучшие решения.
                </p>
                <p> Код, который мы пишем всегда доступен в публичном доступе, в частности весь исходный код данного сайта доступен вот тут: https://github.com/TDTeam/site.
                </p>
                <h2>Кому эта группа может быть интересна?</h2>
                <p> Людям, которые чувствуют в себе непреодолимое желание научиться серьёзно программировать на PHP (в частности мы используем фреймворк Symfony2)
                </p>
                <p> Людям, имеющие интересные идеи, но не имеющие команду для их реализации.</p>

                <h2>Контакты</h2>
                <p> Пока что связь только через скайп: nukduken</p></p>
            </div>

{% endblock content %}
