{% extends 'SmartBlogBundle:Admin:layout.html.twig' %}

{% block smart_blog_content %}

    <div class="span3">
        {{ form(form, {'attr': {'class': 'well'} }) }}
    </div>

    <div class="span8">
        {{ knp_menu_render('SmartBlogBundle:Category:adminTree') }}
    </div>

{% endblock smart_blog_content %}
