<h2>{{ 'Edit category'|trans }}</h2>

{{ form_start(form) }}

    {% include 'SmartBlogBundle:Category:form.html.twig' %}

    <button type="submit" name="update" class="btn btn-primary">{{ 'Save'|trans }}</button>

{{ form_end(form) }}
