<!DOCTYPE html>
<html>
<head>
    <title>{% block smart_gallery_html_title %}Smart Gallery{% endblock smart_gallery_html_title %}</title>
    <meta charset="UTF-8" />
</head>
<body>
    <div>
        {% block smart_gallery_content %}{% endblock%}
    </div>
</body>
</html>
