<!DOCTYPE html>
<html>
<head>
    <title>{% block smart_blog_html_title %}Smart Blog Admin{% endblock smart_blog_html_title %}</title>
    <meta charset="UTF-8" />
</head>
<body>
<div>
    {{ knp_menu_render('SmartBlogBundle:AdminMenu:main', {
            'currentClass': 'active',
            'clear_matcher': false,
        })
    }}

    {% block smart_blog_content %}
    {% endblock smart_blog_content %}
</div>
</body>
</html>
