<h2>{{ 'Create article'|trans }}</h2>

{{ form_start(form) }}

    {% include 'SmartBlogBundle:Article:form.html.twig' %}

    <button type="submit" name="create" class="btn btn-primary">{{ 'Create'|trans }}</button>

{{ form_end(form) }}
