<!DOCTYPE html>
<html>
<head>
    <title>{% block smart_blog_html_title %}Smart Blog{% endblock smart_blog_html_title %}</title>
    <meta charset="UTF-8" />
</head>
<body>
    <div>
        {% block smart_blog_content %}
        {% endblock smart_blog_content %}
    </div>
</body>
</html>
