<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            123
            {% block smart_blog_content %}
            {% endblock smart_blog_content %}
        </div>
    </body>
</html>
